.btn-container {
  color: #fff;
  font-size: 1.1rem;

  .btn {
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.1s ease-out;
  }

  .big-btn {
    background: $purpple-gradient;
    height: 71px;
    width: 266px;
    border-radius: 60px;
    padding: 24px, 30px, 24px, 30px;

    color: inherit;
    font-family: inherit;
    font-size: inherit;
  }

  .big-btn:hover {
    transform: scale(1.02);
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.11);
  }

  .flat-btn {
    height: 23px;
    width: 95px;
    border-radius: nullpx;

    color: $soft-blue;
    font-family: inherit;
    background: transparent;
    font-size: inherit;
  }

  .flat-btn:hover {
    color: $purpple;
  }

  .flat-small-btn {
    font-family: Rubik;
    color: #272d4e;
    font-weight: 500;
    text-align: center;

    font-family: inherit;
    background: transparent;
  }

  .flat-small-btn:hover {
    color: $blue;
  }

  .control-btn {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background: transparent;
    opacity: 0.5;
    margin: auto;
  }

  .control-btn:hover {
    opacity: 1;
    background: #fcfcfc;
    color: #299ef3;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.11);
  }

  .standard-btn {
    height: 42px;
    width: 205px;
    border-radius: 100px;
    padding: 12px, 30px, 12px, 30px;

    color: inherit;
    font-family: inherit;
    background-color: $purpple;
  }
  .standard-btn:hover {
    transform: scale(1.02);
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.11);
    background: $blue;
  }
}
