@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Rubik, Mulish,-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;

  .App {
    overflow: hidden;
  } 



  .page-top {
    background: $background-gradient;
  }

  .container {
    width: 90vw;
    max-width: 1400px;
    margin: auto;
  }
  
  .title-text {
    color: $dark-blue;
  }
  .paragraph-text {
    color: $grey;
  }

  .features-dots-decoration {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(10, 10px);
    grid-template-rows: repeat(7, 10px);
    grid-gap: 30px;
    color: #3cdce781;
    font-size: 1.5rem;
    font-weight: 200;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
