.promo-section {
  height: 100vh;
  max-height: 1080px;
  min-height: 720px;
  display: flex;
  align-items: center;
  justify-content: center;

  .promo-container {
    height: 90%;
    max-height: 860px;
    min-height: 700px;
    display: grid;
    grid-template-columns: 2.6fr 1fr;
    grid-gap: 55px;
    align-items: center;

    .promo-image-container {
      display: flex;
      justify-content: space-between;

      .promo-image {
        position: relative;
        width: 48%;
        max-width: 450px;
        // min-width: 350px;
        height: 70vh;
        max-height: 800px;
        min-height: 550px;

        .promo-image-one {
          position: absolute;
          top: 0;
        }

        .promo-image-two {
          position: absolute;
          bottom: 0;
        }

        img {
          width: 100%;
          max-height: 90%;
          object-fit: contain;
        }
      }
    }

    .promo-text-container {
      .promo-title-container {
        .promo-title {
          font-size: $medium-font;

          font-family: Mulish;
          font-weight: 700;
          line-height: 43px;
          letter-spacing: 0.1px;
          text-align: left;
          
          margin: 20px 0;
        }
      }

      .promo-paragraph-container {
        .promo-paragraph {
          font-size: $small-font;
          font-family: Mulish;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0.2px;
          text-align: left;

          margin: 0;
        }
      }
    }
  }
}
