$background-gradient: linear-gradient(
  180deg,
  #e5efff 20%,
  rgba(229, 239, 255, 0.262661) 83.7%,
  rgba(229, 239, 255, 0) 100%
);

$purpple-gradient: linear-gradient(90deg, #376be6 0%, #7854f7 98.99%);

$background: #e5e5e5;
$purpple: #7854f7;
$blue: #376be6;
$dark-blue: #1e266d;
$soft-blue: #299ef3;
$grey: #545d60;
$white: #fff;

$x-large-font: 4.8rem;
$large-font: 3rem;
$medium-font: 2rem;
$small-font: 1.1rem
