@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  margin: 0;
  font-family: Rubik, Mulish, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body .container {
  width: 90vw;
  max-width: 1400px;
  margin: auto;
}
body .title-text {
  color: #1e266d;
}
body .paragraph-text {
  color: #545d60;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.hero-section {
  display: flex;
  background: linear-gradient(180deg, #e5efff 20%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(229, 239, 255, 0) 100%);
  align-items: center;
  min-height: 100vh;
}
.hero-section .hero-content .hero-controls {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-section .hero-content .hero-controls .hero-info .hero-title .hero-title-text {
  margin: 20px 0;
  font-size: 4.8rem;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
}
.hero-section .hero-content .hero-controls .hero-info .hero-paragraph {
  width: 90%;
}
.hero-section .hero-content .hero-controls .hero-info .hero-paragraph .hero-paragraph-text {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.3px;
  text-align: left;
}
.hero-section .hero-content .hero-controls .hero-buttons .hero-buttons-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  width: 40%;
  min-width: 400px;
  list-style: none;
  padding: 0;
}
.hero-section .hero-content .hero-image-container .hero-image-back {
  top: 0;
  right: 0;
  position: absolute;
  max-width: 45%;
  max-height: 100%;
  object-fit: contain;
}
.hero-section .hero-content .hero-image-container .hero-image {
  top: 0;
  right: 0;
  position: absolute;
  max-width: 45%;
  max-height: 100%;
  object-fit: contain;
}

.info-section {
  height: 100vh;
  max-height: 800px;
  min-height: 720px;
  display: flex;
  align-items: center;
}
.info-section .info-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.info-section .info-container .info-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 760px;
  text-align: center;
}
.info-section .info-container .info-text-container .info-title-container .info-title {
  font-size: 3rem;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0em;
  margin: 5px 0px;
}
.info-section .info-container .info-text-container .info-paragraph-container .info-paragraph {
  font-family: Rubik;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 30px;
}
.info-section .info-container .info-images-container {
  width: 100%;
}
.info-section .info-container .info-images-container .info-images-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}
.info-section .info-container .info-images-container .info-images-list .info-image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  min-width: 280px;
  max-width: 375px;
}
.info-section .info-container .info-images-container .info-images-list .info-image-item .info-image {
  width: 100%;
  border-radius: 20px;
}
.info-section .info-container .info-images-container .info-images-list .info-image-item .info-image-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}
.info-section .info-container .info-images-container .info-images-list .info-image-item .info-image-text .info-image-title {
  margin: 20px 0;
  font-family: Mulish;
  font-size: 2rem;
  font-weight: 700;
}
.info-section .info-container .info-images-container .info-images-list .info-image-item .info-image-text .info-image-paragraph {
  margin: 0;
  font-family: Mulish;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  line-height: 130%;
}

.features-section {
  position: relative;
  max-width: 100vw;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 150px;
  height: 120vh;
  max-height: 1100px;
  min-height: 900px;
}
.features-section .features-back-container {
  height: 150%;
  max-height: 1200px;
  min-height: 1080px;
  max-width: 100vw;
  width: 100%;
  overflow: hidden;
  position: absolute;
  margin: auto;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-section .features-back-container .features-back {
  position: absolute;
  background: linear-gradient(90deg, #376be6 0%, #7854f7 98.99%);
  width: 120vw;
  max-height: 920px;
  height: 100vh;
  min-height: 720px;
  padding: 10px;
  transform: rotate(-4.22deg);
  z-index: -1;
  overflow: hidden;
}
.features-section .features-back-container .features-dots-decoration {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(10, 10px);
  grid-template-rows: repeat(7, 10px);
  grid-gap: 30px;
  color: rgba(60, 220, 231, 0.5058823529);
  font-size: 1.5rem;
  font-weight: 200;
}
.features-section .features-back-container .decoration-one {
  z-index: -1;
  top: 125px;
  left: 100px;
}
.features-section .features-back-container .decoration-two {
  z-index: 1;
  bottom: 400px;
  right: 100px;
}
.features-section .features-container .features-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
.features-section .features-container .features-list .features-item-one {
  justify-content: start;
}
.features-section .features-container .features-list .features-item-two {
  justify-content: end;
}
.features-section .features-container .features-list .features-item {
  display: flex;
  align-items: center;
  height: 50vh;
  max-height: 500px;
  min-height: 345px;
}
.features-section .features-container .features-list .features-item .features-image-container {
  position: relative;
  max-width: 500px;
  width: 26vw;
  display: flex;
  align-items: center;
}
.features-section .features-container .features-list .features-item .features-image-container .features-image-back {
  position: absolute;
  width: 100%;
  transform: translateX(15px);
  transform: translateY(-15px);
}
.features-section .features-container .features-list .features-item .features-image-container .features-image {
  position: absolute;
  width: 100%;
}
.features-section .features-container .features-list .features-text {
  width: 500px;
  margin: 0 100px;
  color: #ffffff;
  z-index: 1;
}
.features-section .features-container .features-list .features-text .features-text-title {
  font-family: Mulish;
  font-size: 2rem;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0px;
  text-align: left;
}
.features-section .features-container .features-list .features-text .features-text-paragraph {
  font-family: Mulish;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}

.testimonial-section {
  height: 100vh;
  min-height: 720px;
  max-height: 1080px;
  background: linear-gradient(180deg, rgba(236, 240, 253, 0) 0%, rgba(236, 240, 253, 0.53) 14.32%, #ecf0fd 45.83%, rgba(236, 240, 253, 0.43) 84.33%, rgba(236, 240, 253, 0) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial-section .testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80%;
}
.testimonial-section .testimonial-container .testimonial-title-container {
  max-width: 530px;
}
.testimonial-section .testimonial-container .testimonial-title-container .testimonial-title {
  font-size: 3rem;
  font-family: Rubik;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}
.testimonial-section .testimonial-container .testimonial-content-container {
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 0.6fr;
  grid-gap: 50px;
  align-items: center;
  height: 70vh;
  max-height: 500px;
  min-height: 450px;
  width: 100%;
}
.testimonial-section .testimonial-container .testimonial-content-container .testimonial-image-container {
  height: 100%;
  position: relative;
  max-width: 480px;
  overflow: hidden;
  object-fit: contain;
}
.testimonial-section .testimonial-container .testimonial-content-container .testimonial-image-container .testimonial-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.testimonial-section .testimonial-container .testimonial-content-container .testimonial-image-container .image-decoration {
  position: absolute;
  left: 0;
  width: 110px;
}
.testimonial-section .testimonial-container .testimonial-content-container .testimonial-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.testimonial-section .testimonial-container .testimonial-content-container .testimonial-text-container .tetimonial-text {
  margin-top: 20%;
  display: flex;
  font-family: Mulish;
  font-size: 26px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #1e266d;
}
.testimonial-section .testimonial-container .testimonial-content-container .testimonial-text-container .tetimonial-text .testimonial-quote-text {
  margin-top: 0;
}
.testimonial-section .testimonial-container .testimonial-content-container .testimonial-text-container .testimonial-extra-features {
  margin-top: 5%;
  margin-left: 11px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.testimonial-section .testimonial-container .testimonial-content-container .testimonial-text-container .testimonial-extra-features .testimonial-presonal-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Mulish;
  font-size: 1.1rem;
  line-height: 22px;
  letter-spacing: 0.1px;
  text-align: left;
}
.testimonial-section .testimonial-container .testimonial-content-container .testimonial-text-container .testimonial-extra-features .testimonial-presonal-info .testimonial-name {
  font-weight: 700;
  text-align: left;
  color: #1e266d;
}
.testimonial-section .testimonial-container .testimonial-content-container .testimonial-text-container .testimonial-extra-features .testimonial-presonal-info .testimonial-job {
  font-family: Mulish;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #545d60;
  margin-top: 4px;
}
.testimonial-section .testimonial-container .testimonial-content-container .testimonial-text-container .testimonial-extra-features .testimonial-controls {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-bottom: 0;
}
.testimonial-section .testimonial-container .testimonial-content-container .testimonial-decoration-container {
  position: relative;
  height: auto;
  max-height: 450px;
  height: 100%;
}
.testimonial-section .testimonial-container .testimonial-content-container .testimonial-decoration-container .testimonial-deco {
  position: absolute;
}
.testimonial-section .testimonial-container .testimonial-content-container .testimonial-decoration-container .decoration-one {
  left: 40%;
  top: 20%;
}
.testimonial-section .testimonial-container .testimonial-content-container .testimonial-decoration-container .decoration-two {
  left: 0;
  bottom: 10%;
}
.testimonial-section .testimonial-container .testimonial-content-container .testimonial-decoration-container .decoration-three {
  right: -50px;
  bottom: 10%;
}
.testimonial-section .testimonial-container .testimonial-content-container .testimonial-decoration-container .decoration-four {
  left: 30%;
  bottom: -100px;
}

.promo-section {
  height: 100vh;
  max-height: 1080px;
  min-height: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promo-section .promo-container {
  height: 90%;
  max-height: 860px;
  min-height: 700px;
  display: grid;
  grid-template-columns: 2.6fr 1fr;
  grid-gap: 55px;
  align-items: center;
}
.promo-section .promo-container .promo-image-container {
  display: flex;
  justify-content: space-between;
}
.promo-section .promo-container .promo-image-container .promo-image {
  position: relative;
  width: 48%;
  max-width: 450px;
  height: 70vh;
  max-height: 800px;
  min-height: 550px;
}
.promo-section .promo-container .promo-image-container .promo-image .promo-image-one {
  position: absolute;
  top: 0;
}
.promo-section .promo-container .promo-image-container .promo-image .promo-image-two {
  position: absolute;
  bottom: 0;
}
.promo-section .promo-container .promo-image-container .promo-image img {
  width: 100%;
  max-height: 90%;
  object-fit: contain;
}
.promo-section .promo-container .promo-text-container .promo-title-container .promo-title {
  font-size: 2rem;
  font-family: Mulish;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0.1px;
  text-align: left;
  margin: 20px 0;
}
.promo-section .promo-container .promo-text-container .promo-paragraph-container .promo-paragraph {
  font-size: 1.1rem;
  font-family: Mulish;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: left;
  margin: 0;
}

.cta-section {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cta-section .cta-container {
  height: 70%;
  min-height: 500px;
  max-height: 560px;
  display: grid;
  grid-template-rows: 1.5fr 0.5fr;
  grid-gap: 50px;
  align-items: center;
  justify-items: center;
}
.cta-section .cta-container .cta-start-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #f3f6fa;
  border-radius: 80px;
}
.cta-section .cta-container .cta-start-container .cta-title-container {
  width: 70%;
}
.cta-section .cta-container .cta-start-container .cta-title-container .cta-title {
  font-weight: 500;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  font-size: 3rem;
}
.cta-section .cta-container .cta-start-container .cta-btn-container {
  display: flex;
  justify-content: center;
}
.cta-section .cta-container .cta-start-container .cta-btn-container .btn {
  padding: 24px 50px;
  width: 200px;
  height: 60px;
}
.cta-section .cta-container .cta-features-container {
  height: 100%;
  width: 70%;
}
.cta-section .cta-container .cta-features-container .cta-features-list {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cta-section .cta-container .cta-features-container .cta-features-list .cta-features-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 260px;
}
.cta-section .cta-container .cta-features-container .cta-features-list .cta-features-item .cta-features-icon {
  font-size: 38px;
  color: #299ef3;
}
.cta-section .cta-container .cta-features-container .cta-features-list .cta-features-item .cta-features-text {
  font-family: Mulish;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: center;
}

#the-header {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100vw;
  width: 100%;
  height: 10vh;
  max-height: 88px;
  z-index: 2;
}
#the-header .nav-bar {
  height: 100%;
  width: 90%;
  max-width: 1600px;
  margin: auto;
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
#the-header .nav-bar ul {
  list-style: none;
  display: flex;
  width: 330px;
  justify-content: space-between;
  padding: 0;
}
#the-header .nav-bar .header-logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #272d4e;
}
#the-header .nav-bar .header-links .header-links-list {
  list-style: none;
  display: flex;
}
#the-header .nav-bar .header-links .header-links-list .header-links-item a {
  text-decoration: none;
  font-family: Rubik;
  font-size: inherit;
  font-weight: 500;
  text-align: left;
}
#the-header .nav-bar .header-links .header-links-list .header-links-item .header-link-tickea {
  color: #3c64b1;
}
#the-header .nav-bar .header-links .header-links-list .header-links-item .header-link-buscar {
  color: #373f41;
}
#the-header .nav-bar .header-buttons .header-buttons-list {
  display: flex;
  align-items: center;
}

.btn-container {
  color: #fff;
  font-size: 1.1rem;
}
.btn-container .btn {
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.1s ease-out;
}
.btn-container .big-btn {
  background: linear-gradient(90deg, #376be6 0%, #7854f7 98.99%);
  height: 71px;
  width: 266px;
  border-radius: 60px;
  padding: 24px, 30px, 24px, 30px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
.btn-container .big-btn:hover {
  transform: scale(1.02);
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.11);
}
.btn-container .flat-btn {
  height: 23px;
  width: 95px;
  border-radius: nullpx;
  color: #299ef3;
  font-family: inherit;
  background: transparent;
  font-size: inherit;
}
.btn-container .flat-btn:hover {
  color: #7854f7;
}
.btn-container .flat-small-btn {
  font-family: Rubik;
  color: #272d4e;
  font-weight: 500;
  text-align: center;
  font-family: inherit;
  background: transparent;
}
.btn-container .flat-small-btn:hover {
  color: #376be6;
}
.btn-container .control-btn {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background: transparent;
  opacity: 0.5;
  margin: auto;
}
.btn-container .control-btn:hover {
  opacity: 1;
  background: #fcfcfc;
  color: #299ef3;
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.11);
}
.btn-container .standard-btn {
  height: 42px;
  width: 205px;
  border-radius: 100px;
  padding: 12px, 30px, 12px, 30px;
  color: inherit;
  font-family: inherit;
  background-color: #7854f7;
}
.btn-container .standard-btn:hover {
  transform: scale(1.02);
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.11);
  background: #376be6;
}

/*# sourceMappingURL=index.css.map */
