.questions-section {
  margin: 100px 0;

  .questions-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .questions-title-container {
      font-size: $medium-font;
      font-weight: 500;
      margin-bottom: 5vh;
    }

    .questions-list-container {
      width: 100%;

      .questions-list {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .questions-item {
          width: 48%;
          border-bottom: solid 1px #c4c4c4;
          font-family: Mulish;
          font-size: 20px;
          font-weight: 600;
          color: #7854f7;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .questions-section {
    margin: 50px 0;

    .questions-container {
      .questions-title-container {
        
    font-weight: 500;
    text-align: center;

    .questions-title {
      font-size: 28px;
    }
      }

      .questions-list-container {
        .questions-list {
          flex-direction: column;
          .questions-item {
            width: 100%;
            font-size: $small-font;
          }
        }
      }
    }
  }
}
