.register-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;

  .register-container {
    height: 80vh;
    position: relative;

    .register-background {
      height: 80%;
      max-height: 620px;
      width: 100%;
      max-width: 1310px;
      display: flex;
      justify-content: center;
      margin: auto;
      border-radius: 20px;

      .register-content-container {
        background: linear-gradient(90deg, #376be6 0%, #7854f7 98.99%);
        width: 75%;
        max-width: 1050px;
        min-width: 650px;
        height: 60%;
        max-height: 440px;
        position: absolute;
        bottom: 0;
        border-radius: 20px;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        justify-items: center;

        .separador {
          background-color: #3740cf;
          height: 100%;
          width: 3px;
        }

        .register-content-div {
          width: 100%;
          height: 100%;
          display: flex;

          .register-content {
            height: 80%;
            width: 75%;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            grid-gap: 5px;

            p,
            h2 {
              margin: 0;
            }

            .register-text {
              font-family: Mulish;
              font-size: 36px;
              font-weight: 700;
              line-height: 40px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .register-section {
    min-height: 100vh;
  
    .register-container {
      width: 100vw;
  
      .register-background {
        height: 30%;
        width: 100%;
        background-size: cover!important;
        background-repeat: no-repeat!important;
        border-radius: 0;
  
        .register-content-container {
          display: grid;
          grid-template-rows: 0.5fr auto;
          grid-template-columns: auto;
          height: 80%;
          max-height: none;
          width: 90vw;
          min-width: 0;
  
          .separador {
            display: none;
          }
  
          .register-content-div {
            height: 100%;
            width: 80%;
  
            .register-content {
              height: auto;
              width: 100%;
              margin: 0;
  
              .register-text {
                font-size: 28px;
              }

              .btn {
                width: 100%;
                max-width: none;
              }
            }
          }
        }
      }
    }
  }
}