.hero-section {
  display: flex;
  background: $background-gradient;
  align-items: center;
  min-height: 100vh;

  .hero-content {
    // max-width: 1400px;
    // width: 90vw;
    // margin: auto;

    .hero-controls {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .hero-info {
        .hero-title {
          .hero-title-text {
            margin: 20px 0;
            font-size: $x-large-font;
            font-weight: 500;
            letter-spacing: 0em;
            text-align: left;
          }
        }
        .hero-paragraph {
          width: 90%;
          .hero-paragraph-text {
            font-size: $small-font;
            font-weight: 400;
            line-height: 33px;
            letter-spacing: 0.3px;
            text-align: left;
          }
        }
      }

      .hero-buttons {
        .hero-buttons-list {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 15px;
          width: 40%;
          min-width: 400px;
          list-style: none;
          padding: 0;
        }
      }
    }

    .hero-image-container {
      .hero-image-back {
        top: 0;
        right: 0;
        position: absolute;
        max-width: 45%;
        max-height: 100%;
        // min-width: 600px;
        object-fit: contain;
      }

      .hero-image {
        top: 0;
        right: 0;
        position: absolute;
        max-width: 45%;
        max-height: 100%;
        // min-width: 600px;
        object-fit: contain;
      }
    }
  }
}

@media (max-width: 700px) {
  .hero-section {
    display: block;
    min-height: 100vh;
    max-width: 100vw;

    .hero-content {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      min-height: 100vh;

      .hero-controls {
        width: 100%;

        .hero-info {
          text-align: center;
          width: 100%;

          .hero-title {
            .hero-title-text {
              font-size: 42px;
              text-align: inherit;
            }
          }
          .hero-paragraph {
            width: 100%;

            .hero-paragraph-text {
              text-align: inherit;
              line-height: 25px;
              letter-spacing: 0.3px;
            }
          }
        }

        .hero-buttons {
          .hero-buttons-list {
            display: flex;
            flex-direction: column;
            min-width: 0;
            width: 100%;

            .hero-btn-item {
              width: 100%;

              .btn {
                width: 100%;
                height: 60px;
                margin: 10px 0;
              }
            }
          }
        }
      }

      .hero-image-container {
        position: relative;
        height: 35vh;
        min-height: 300px;
        width: calc(100% + 5vw);
        overflow: hidden;
        

        .hero-image-back {
          max-height: 100%;
          max-height: none;
        }

        .hero-image {
          max-height: 100%;
          max-width: none;
          object-fit: contain;
        }
      }
    }
  }
}
