.links-section {
  width: 100vw;
  height: 25vh;
  max-height: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .links-section-container {
    width: 90%;
    max-width: 1600px;
    height: 25%;

    .links-section-list {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      .links-section-item {
        margin-right: 15px;
        text-decoration: none;
        font-family: Mulish;
        font-size: $small-font;
        font-weight: 400;
        color: #1e266d;

        .links-section-link {
          text-decoration: none;
          color: inherit;
        }
        .links-section-icon {
          margin-left: 15px;
          font-weight: 600;
        }
      }
    }
  }
}



@media (max-width: 700px) {
  .links-section {
    .links-section-container {
      .links-section-list {
        .links-section-item {
          font-size: 13px;
          font-weight: 600;
        }
      }
    }
  }
}
